#container{
	width: 850px;
	margin: 150px auto;
}
#container img{
cursor: pointer;
}
#previa{
	background: rgba(0,0,0,0.5);
	height: 100%;
	top: 0;
	width: 100%;
}
#previa div{
	margin: 30px auto;
	width: 381px;
}

